footer {
    color: $color__4;
    font-family: $fuente__principal;
    background-color: $color__5;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 20px;
    padding: 30px;

}
.contenedor-grid {
    max-width: 100%;
    display: grid;
    grid-template-areas: "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 1em;
    
}


