footer {
    color: $color__4;
    font-family: $fuente__principal;
    background-color: $color__5;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;

}
