header {
    height: auto;
    overflow: visible;
    overflow-y: visible;
    background-image: url(../img/cielo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    header figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}